/* body{
    background-image: url("image2.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    
}
*/

img{
    margin:auto;
    height: 150%;
    width:100%;
    -webkit-filter :blur(5px);
    background-position: center;
    
}
form{
    display: block;
    box-shadow: 0px 0px 20px black;
    /* text-shadow: 6px 6px 1000px black;  */
    background-color:rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 30px ;
    top:20%;
    left:27%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size:x-large;
    color:black;
     ;
}
label{
    text-shadow: 0px 0px 1px black;
    font-size: 30px;
    font-weight: bold;
    width:20px;
    margin-left: 30px;
    

}
input{
    position: absolute;
    left:48%;
    border-radius: 6px;
    border: 1px solid black;
    margin-left:10px ;
    margin-right:20px;
    height: 25px;
    width:25%;
    opacity: 1;


}
h4{
    font-size: 40px;

}
.submit{
    position: absolute;
    text-align: center;
    width: 300px;
        
}
h1{
    position:absolute;
    top:1%;
    left:35%;
    font-size: 500%;
    color :white ;
    text-shadow: 0 0 10px black;


}
input[type="radio"]{
    position: absolute;
    left: 30%;

}
.rate{
    font-size: 90%;
}




